body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.container {
    /* width: 80%; */
    /* max-width: 900px; */
    max-height: 1000px;
    margin: 0 auto;
    padding: 20px;
    /* background: #f9f9f9; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}
.header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #666;
}
.section {
    margin-bottom: 20px;
}
.section h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    font-size: 1.2em;
    color: #333;
}
.section p {
    margin: 0;
    line-height: 1.6;
}
.skill-title {
    font-weight: bold;
}
.skills, .experience, .education {
    list-style: none;
    padding: 0;
}
.skills li, .experience li, .education li {
    margin-bottom: 10px;
}
.skills li:before {
    content: "✔️ ";
    color: #4CAF50;
}
.experience li {
    margin-bottom: 15px;
}
.education li {
    margin-bottom: 15px;
}
.contact-info {
    margin-top: 20px;
    text-align: center;
}
.contact-info a {
    color: #007BFF;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}